* {
  direction: rtl;
}

.loadingSpinner {
  display: table;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  font-family: "Segoe UI", sans-serif;
  color: white;
}

.main-wrapper {
  background-color: #f5f5f5;
}

.wrapper {
  
}
.main-menu, .main-footer {
  background-color: #e99506;
  box-shadow: 0 8px 10px rgba(0,0,0,.075);
}

.main {
  margin: 0 auto;
  width: 1080px;
}
.main-menu {
  position: relative;
}
.navbar {
  padding: 30px;
  position: relative;
}
.logo {
  
}
.main-nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: larger;
}
.main-nav-links a:hover {
  
}
.nav-links {
  float: right;
}
.login-links {
  float: left;
  cursor: pointer;
}
.nav-links li, .login-links li {
  display: inline;
}
.nav-links li a, .login-links li a{
  padding: 10px 20px;
  padding-bottom: 15px;
  margin: 10px;
}
.nav-links li a:hover, .login-links li a:hover {
  background-color: #eff0f1;
  color: #e99506;
  border-radius: 3px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.logo:hover {
  background-color: #e99506 !important;
  box-shadow: none !important;
}

.login-link, .register-link, .logout-link {
  border-radius: 3px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.register-link {
  background-color: #007bff !important;
}
.login-link {
  background-color: #28a745 !important;
}
.logout-link {
  background-color: #dc3545 !important;
}
.login-link:hover, .register-link:hover, .logout-link:hover {
  color: #e99506 !important;
  background-color: white !important;
}
.logout-link:hover {
  color: red !important;
}
.profile-link {
  
}
.profile-link:hover {
  color: white !important;
  background-color: #e99506 !important;
  box-shadow: none !important;
  text-decoration: underline;
}

.main-content {
  height: 100%;
  padding: 30px;
  color: #343a40;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  position: relative;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  background-color: #f8f9fa;
}
.content {
  padding: 20px;
  float: right;
  width: 720px;
}
.word-content {
  border: 1px solid lightgray;
  border-right: 5px solid #e99506;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  border-radius: 3px;
  font-weight: bold;
  margin-bottom: 20px;
}
.word-post {
  background-color: #e99506 !important;
  color: white !important;
  font-size: 34px;
}
.post-main-content {
  background-color: #eff0f1 !important;
  font-weight: normal;
  line-height: 1.5;
}
.word-content:hover {
  background-color: #e99506;
  cursor: pointer;
}
.main-word {
  position: relative;
  margin: 20px;
}
.word, .word-latin, .word-tifinagh {
  margin-left: 10px;
  float: right;
}
.word-latin-tag, .word-tifinagh-tag {
  color: #f1754e;
  float: right;
  padding: 8px 20px;
  margin-left: 10px;
  border-radius: 3px;
  border: 2px solid #f9a576;
  box-shadow: 0 .100rem .15rem rgba(0,0,0,.075)!important;
}
.date, .post-count {
  margin: 0 20px;
  margin-bottom: 20px;
  margin-top: -5px;
  font-size: small;
}
.date {
  float: left;
}
.post-count {
  float: right;
}
.word-link {
  color: #343a40;
}
.word-link:hover {
  color: white;
}

.btn-load-more-words {
  display: table;
  margin: 15px auto;
  background-color: #e99506;
  color: #eff0f1;
  border-radius: 2px;
  border: none;
  padding: 10px 50px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  font-weight: bold;
  font-size: 16px;
  border: 3px solid #e99506;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
}
.btn-load-more-words:hover {
  cursor: pointer;
  color: #e99506;
  background-color: #eff0f1;
  border: 3px solid #e99506;
}

.main-sidebar {
  float: left;  
}
.side-bar {
  border: 1px solid lightgray;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  padding: 15px;
  margin: 10px;
  width: 200px;
}
.main-footer {
  
}
.footer {
  padding: 30px;
}





/* Clearfix */
.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}